$color: rgb(67, 236, 226, 0.11);
$color1:rgb(67,236,226);

*{
    margin: 0%;
    padding: 0%;
}

@mixin bouton{
    width: 48px;
    height: 58px;
}

body{
    background-color: $color;
}
a{
    svg{
        @include bouton();
    }
}
.btn-close{
    @include bouton();
}
.navbar2{
    background-color: $color1;
    width: 100%;
    height: 100vh;
}
.photo{
    height: 100%;
    width: 105%;
}
.row{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 100vh;
}
h1{
    font:{
        size: 94px;
        weight: bold;
    }

    margin-top: 10vh;
    margin-left: 5%;
    width: 110%;
}
.listenav{
    height: 60vh;
    .ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 58%;
    }
    .li{
        font:{
            size: 35px;
            weight: bold;
        }
    }
}